{% liquid
  assign options = section.settings
  assign hero_banner_title = options.hero_banner_title
  assign hero_banner_desc = options.hero_banner_desc
  assign hero_banner_anchor_text = options.hero_banner_anchor_text
  assign divider_text = options.divider_text
%}

<section class="heroBanner__section">
  <div class="container">
    <div class="heroBanner__grid">
      <div class="heroBanner__item">
        <img src="{{ 'hero-banner-top-dweb.png' | asset_url }}" alt="Hero banner Image" width="" height="">
      </div>

      <div class="heroBanner__item">
        <div class="heroBanner__content">
          <h1>{{ hero_banner_title }}</h1>
          <p>
            {{ hero_banner_desc }}
          </p>
          <a href="#" class="">
            <span>{{ hero_banner_anchor_text }}</span>
            <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.75 4.77295L7.83954e-08 4.77295L-7.83954e-08 6.27295L0.75 6.27295L0.75 4.77295ZM26.7876 6.05328C27.0805 5.76039 27.0805 5.28551 26.7876 4.99262L22.0146 0.21965C21.7217 -0.0732435 21.2468 -0.0732435 20.9539 0.21965C20.6611 0.512543 20.6611 0.987417 20.9539 1.28031L25.1966 5.52295L20.9539 9.76559C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1191 21.7217 11.1191 22.0146 10.8263L26.7876 6.05328ZM0.75 6.27295L26.2572 6.27295L26.2572 4.77295L0.75 4.77295L0.75 6.27295Z" fill="white"/>
            </svg>
          </a>
        </div>
      </div>

      <div class="heroBanner__item">
        <img src="{{ 'hero-banner-bottom-dweb.png' | asset_url }}" alt="Hero banner Image" width="" height="">
      </div>
    </div>
  </div>
</section>

<section class="divider__section">
  <p class="divider__text">{{ divider_text }}</p>
</section>

{% schema %}
{
  "name": "Hero banner Alt",
  "settings": [
    {
      "type": "text",
      "label": "Hero banner title",
      "id": "hero_banner_title",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "label": "Hero banner description",
      "id": "hero_banner_desc",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "label": "Hero banner Anchor text",
      "id": "hero_banner_anchor_text",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "label": "Divider text",
      "id": "divider_text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ]
}
{% endschema %}
