<section class="productGrid__section">
  <div class="container">
    <h1 class="productGrid__heading">Tisso Vison in the world</h1>

    <div class="productGrid__wrapper">
      {% for product in section.settings.collection.products %}
        <div class="productGrid__item">
          <button class="productGrid__btn" data-product="{{ product | json | escape }}">
            <img
              src="{{ product.featured_image | image_url}}"
              alt="{{ product.title }}"
              width="{{ product.featured_image.width }}"
              height="{{ product.featured_image.height }}"
              class="productGrid__img"
            >
          </button>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="quickAdd__popup">
  <div class="quickAdd__overlay"></div>

  <div class="quickAdd__container">
    <div class="quickAdd__header">
      <button class="quickAdd__closeBtn">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.24219 4.24279L12.7275 12.7281" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
          <path d="M4.24219 12.7278L12.7275 4.24249" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="quickAdd__content">
      <img src="" alt="" width="" height="" class="quickAdd__img">
      <div class="quickAdd__wrapper">
        <h5 class="quickAdd__title"></h5>
        <h6 class="quickAdd__price"></h6>
        <div class="quickAdd__desp"></div>
      </div>
    </div>

    <div class="quickAdd__variants"></div>

    <form class="quickAdd__form">
      <button type="submit" class="quickAdd__submit">
        <span>Add to cart</span>
        <svg width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.75 4.77295L7.83954e-08 4.77295L-7.83954e-08 6.27295L0.75 6.27295L0.75 4.77295ZM26.7876 6.05328C27.0805 5.76039 27.0805 5.28551 26.7876 4.99262L22.0146 0.21965C21.7217 -0.0732435 21.2468 -0.0732435 20.9539 0.21965C20.6611 0.512543 20.6611 0.987417 20.9539 1.28031L25.1966 5.52295L20.9539 9.76559C20.6611 10.0585 20.6611 10.5334 20.9539 10.8263C21.2468 11.1191 21.7217 11.1191 22.0146 10.8263L26.7876 6.05328ZM0.75 6.27295L26.2572 6.27295L26.2572 4.77295L0.75 4.77295L0.75 6.27295Z" fill="white"/>
        </svg>
      </button>
    </form>
  </div>

</section>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "collection",
      "label": "Select the collection",
      "id": "collection"
    }
  ]
}
{% endschema %}
